.border-1px(@color:#000) {
  position: relative;
  border: none;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @color;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
  }
}

.elli(@linenum:2) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @linenum;
  -webkit-box-orient: vertical;
}
